<h1 class="col-md-12 mt20"> <%= "Hi, " + current_user.first_name %> <%= " - You are a " + current_user.role.to_s.capitalize if current_user.instance_of?(User) %></h1>
</br>
<div class="col-md-12">
	<%= link_to 'Write a New Blog', new_blog_path if logged_in?(:site_admin) %> / 
  <%= link_to 'Topics', topics_path %>
</div>
<h1 class="col-md-12">Blogs</h1>
<div class="col-md-8 blog-main">
  <%= paginate @blogs %>
  <%= render @blogs %>
  <%= paginate @blogs %>
</div>
<hr>