<div class="container mt30">
	<div class="row">
		<div class="col-md-7">
			<h3><%= image_tag @portfolio_item.main_image unless @portfolio_item.main_image.nil? %></h3>
		</div>
		<div class="col-md-5">			
			<p><h3><%= @portfolio_item.title %></h3></p>
			<em><%= @portfolio_item.subtitle %></em>
			<p><%= @portfolio_item.body %></p>

			<% if @portfolio_item.technologies.count != 0 %>
				<h2>Technologies Used: </h2>
				<% @portfolio_item.technologies.each do |t| %>
					<p><%= t.name %></p>
				<% end %>
			<% end %>
		</div>
	</div>
</div>






