<h1 class="mt20">Contact</h1>
<p>Find me in app/views/pages/contact.html.erb</p>
<h2>ActionView Helpers</h2>

Phone: <%= number_to_phone "97256048841" %></br>

Currency: <%= number_to_currency "97256048841" %></br>

Distance of time (Fri, 03 Aug 2018 07:34:51 UTC +00:00) in words from now is:
<%= distance_of_time_in_words("Fri, 03 Aug 2018 07:34:51 UTC +00:00", Time.now) %> Ago </br>

Percentage of a number say 180.8686 is given by <%= number_to_percentage(80.8686) %></br>

Number 123456789023 with delimiter usage is shown as <%= number_with_delimiter(123456789023) %></br>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3886.428916058962!2d77.59705690583185!3d13.07198100717879!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae18305450b095%3A0xcb10deaa003ffa60!2s9th+B+Cross+Rd%2C+Jakkuru+Layout%2C+Jakkuru%2C+Bengaluru%2C+Karnataka+560092!5e0!3m2!1sen!2sin!4v1542198938845" height="400" frameborder="0" style="border:0"></iframe>